NEXT_PUBLIC_SUPABASE_URL=https://xsjtlbmaazrhwhoorubk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhzanRsYm1hYXpyaHdob29ydWJrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTAzNzA2NjAsImV4cCI6MjA2NTk0NjY2MH0.HVq8CWwMvfFbfgAiC-i0KOIt7-tuTM7xQq3lekFZMyg
NEXT_PUBLIC_SUPABASE_UPLOADS_BUCKET=media
NEXT_PUBLIC_APP_URL=https://dc.botbase.co
DATABASE_URL=postgresql://postgres:Denzopass88%40@db.xsjtlbmaazrhwhoorubk.supabase.co:5432/postgres
AUTH_SECRET=5C7RBI8GT9xwlmuHxSxvAyhqlZ0oH9W6J8OU62N/kJ0=
AUTH_TRUST_HOST=true
AUTH_URL=https://dc.botbase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhzanRsYm1hYXpyaHdob29ydWJrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MDM3MDY2MCwiZXhwIjoyMDY1OTQ2NjYwfQ.mb-apb4mHFnBLpqhdR_Pc2T-dXwbj_v2VYSovDidi_Q
